# Create a conda environment and install all these packages in the environment.
conda create python=3.10 -n <rotation2>
conda activate rotation2
conda install bioconda::fastqc=0.11.9
conda install bioconda::trim-galore=0.6.10
conda install bioconda::bowtie2=2.5.1
conda install bioconda::samtools=1.15
conda install bioconda::htseq=2.0.2
conda install bioconda::star=2.7.10b

# For DESeq2 analysis in R first install all the required packages,
if (!require("BiocManager", quietly = TRUE))
    install.packages("BiocManager")

BiocManager::install(c("DESeq2", "pheatmap"))
install.packages(c("ggplot2", "dplyr", "tidyr", "readr", "tibble", "stringr", "forcats"))

After installing all these packages, please load all the libraries in your environment to be used for analysis.
